body {
  background-color: #fff00;
}

#container {
}

#container > .mylist {
  padding: 20px 10px;
  outline: 1px solid #890;
  list-style-type: none;
}

#container > .mylist > li {
  padding: 20px 10px;
  outline: 1px solid #abc;
  height: 200px;
  margin: 0 0 10px 0;
}

#monitor {
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  font-family: helvetica;
  font-size: 12px;
  height: 300px;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 200px;
  z-index: 100;
}

#monitorclear {
  position: fixed;
  right: 200px;
  top: 0;
}

/* ====================================  */

#infinitescroll {
}

#infinitescroll body {
  background-color: #F5F5FF;
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
}

#infinitescroll #container,
#infinitescroll footer {
  width: 460px;
  margin: 0 auto;
}

#infinitescroll h1 {
  margin-top: 24px;
  font-size: 28px;
}

#infinitescroll p {
  color: #444;
  line-height: 1.5;
}

#infinitescroll footer {
  text-align: center;
  background-color: #FFF;
  padding: 10px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

#infinitescroll footer > a {
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-right: 30px;
  padding-left: 30px;
}

#infinitescroll footer > a.loading {
  background-image: url(throbber.gif);
}
